body {
    background-color: #f7f6f8;
}

.container {
    transform: rotate(-2deg);
    margin: 20px auto 0 auto;
    width: 180px;
    height: 180px;
    background-image: url("../img/background.png");
    background-size: cover;
    padding: 10px;
}

.row {
    height: 33.3%;
}

.block {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    overflow: hidden;
}

.block svg {
    text-align: center;
    width: 34%;
    height: 34%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/*
.block:nth-child(3n) {border-right: none;}
.block:nth-child(3n+1) {border-left: none;}
.block:nth-child(-n+3) {border-top: none;}
.block:nth-child(n+7) {border-bottom: none;}
*/