body {
    background-color: #f7f6f8;
    overflow: hidden;
}

.cont-main {
    /*because of percentage padding there's a container in a container*/
    /*welcome to css*/
    margin: 20px auto 0 auto;
    width: 620px;
    height: 620px;
    transform: rotate(-2deg);
}
.cont-game {
    width: 68%;
    height: 68%;
    background-image: url("../img/background.png");
    background-size: cover;
    padding: 5%;
}

.row {
    height: 33.3%;
}

.block {
    display: inline-block;
    width: 33.3%;
    height: 100%;
    overflow: hidden;
}

.block svg {
    text-align: center;
    width: 34%;
    height: 34%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}